<ion-header>
  <ion-toolbar>
    <ion-title>Key Terms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <ion-card-content>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h1>Argument</h1>
          </div>
          <div class="flip-card-back">
            <h2>Argument</h2> 
            <p>definition</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
