<ion-header>
  <ion-toolbar>
    <ion-title>Key Terms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <ion-card-content>
    <div *ngFor="let i of vocabulary | async" class="flip-card">
        <div class="flip-card-inner">
          <div  class="flip-card-front">
              <h1>{{(i)?.word}}</h1>
          </div>
          <div class="flip-card-back">
            <h2>{{(i)?.word}}</h2>
            <h3>{{(i)?.definition}}</h3>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
