body {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-weight: Bold;
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 8vw;
  margin-top: 15%;
}

h2{
  vertical-align: middle;
  position: relative;
  text-align: center;
  font-weight: Bold;
  font-size: 5vw;
  margin-top: 10%;
}
.container{
  background-color: white;
  position: relative;
  // height: 100%;
  width: 90%;
}
.flip-card {
  background-color: transparent;
  // position: absolute;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: black;
  color: white;
  z-index: 2;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  z-index: 1;
}
