<ion-header>
  <ion-toolbar>
    <ion-title>Activity One</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-header>
      <ion-card class="Key Terms">
          <ion-img src="/assets/School-of-Athens.jpg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Getting Started</ion-card-subtitle>
            <ion-card-title>Terms to Remember</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              In this activity, we will learn some common terms used in Philosophy.
            </p>
            <ion-button href= "/activity" slot="end">Begin</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-content *ngFor="let vocab of vocabulary | async" class="panel panel-default">
  <ion-card class="panel-body">
    <h3><em>{{vocabulary.word}}</em> means: {{vocabulary.definition}}</h3>
  </ion-card>
</ion-content>
  </ion-header>
</ion-content>
