<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/School-of-Athens.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Philosophy 209</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item  href="https://blackboard.boisestate.edu/webapps/bb-mygrades-BB5c06bd8066642/myGrades?course_id=_90578_1&stream_name=mygrades&is_stream=false">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Grades</ion-label>
      </ion-item>
      <ion-item href="https://blackboard.boisestate.edu/webapps/blackboard/execute/modulepage/view?course_id=_90578_1&cmp_tab_id=_214812_1&editMode=true&mode=cpview">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Course Blackboard</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Tools(WFF Builder, Truth Tables, ProofChecker)</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>

<!--Testing atom-to-github connection -->
